/* 
    header
                */

.header-box{
    width: 660px;
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: light;
}


/* 
    buttons 
                */

.button-box {
    display: flex;
    width: 660px;
    justify-content: space-evenly;
    margin: 25px; 
    margin-top: 0px;
}

button {
    background-color: white;
    border:2px solid rgba(22, 40, 92, 0.8);
    border-radius: 5%;
    box-shadow: 5px 5px rgba(22, 40, 92, 0.4);
}

button img {
    opacity: 0.6;
}

button:hover img {
    opacity: 1;
}

button:active {
    box-shadow: 2px 2px rgba(22, 40, 92, 0.4);
    transform: translate(3px, 3px);
}


/* 
    rules 
                */

#rule-box {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#rule-box img {
    height: 200px;
}

.rule {
    text-align: center;
    border: 3px solid rgba(22, 40, 92, 0.6);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(22, 40, 92, 0.4);
    margin: 0px;
}

.rule:active {
    box-shadow: 2px 2px rgba(22, 40, 92, 0.4);
    transform: translate(3px, 3px);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 10px;
}

.selected {
    border: 3px solid #2196F3;
}



/* 
    grid
             */

#grid-container {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    background-color: #2196F3;
    border: 3px solid rgba(22, 40, 92, 0.8);
    border-radius: 5%;
    margin: 50px;
    margin-top: 20px;
    padding: 8px;
    height: 500px;
    width: 700px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(22, 40, 92, 0.8);
    border-radius: 10%;
    display: flex;
}

.grid-item img {
    height: 40px;
    margin: auto;
}

.possible img {
    opacity: 0.4;
}

.grid-item:active {
    transform: translate(3px, 3px);
}

.removable {
    border: 3px solid red;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}